*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'system-ui';
}
html,body{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 70%;
    width: 40%;
    background: #312f2f;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #312f2f;
    font-weight: 700;
}
.form .user{
    color: bisque;
}
.form .user h2{
    text-align: center;
}
.form .user div{
    padding: 10px;
}
.user-input{
    width: 100%;
    height: 30px;
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
}
.user-message{
    width: 100%;
    /* height: 30px; */
    padding: 10px;
    border-radius: 10px;
    border: none; 
}
#submit{
    background: hsl(111, 84%, 25%);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: beige;
    font-weight: 700;
}